html{
 height:100%;
 min-height:100%;
 }
body{
 min-height:100%;
 }

.outerslider{
	position: absolute;
	overflow:hidden;
	width:100%;
	top: 10rem;
	height: 10rem;
}

.innerslider{
	-webkit-transform: translateX(0px);
	-webkit-transition: none;
	transition: none;
	width: 100%;
	display: -webkit-box;
	height: 100%;
}

.innerslider div {
	overflow:visible;
	display:block;
	width: 20%;
	height: 100%;
	padding: 0;
	margin: 0;
	margin-left: 1rem;
  
}


.innerslider div.thumb_1 figure{
	background: url('../img/CIMG0140.JPG');
}

.innerslider div.thumb_2 figure{
	background: url('../img/CIMG0151.JPG');
}

.innerslider div.thumb_3 figure{
	background: url('../img/CIMG0152.JPG');
}

.innerslider div.thumb_4 figure{
	background: url('../img/IMG_0779.JPG');
}
.innerslider div.thumb_5 figure{
	background: url('../img/IMG_0784.JPG');
}
.innerslider div.thumb_6 figure{
	background: url('../img/IMG_0785.JPG');
}
.innerslider div.thumb_7 figure{
	background: url('../img/IMG_0794.JPG');
}
.innerslider div.thumb_8 figure{
	background: url('../img/silver-creek-biking.jpg');
}

.innerslider div figure{
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center top;
	display: block;
	height: 100%;
  opacity: 0.5;
}